{{ ansible_managed | comment }}

driftfile {{ ntp_drift_file }}
restrict default {{ ntp_restrict_default }}
{% for item in ntp_restrict_ips %}
restrict {{ item }}
{% endfor %}
{% for item in ntp_servers %}
server {{ item }} {{ ntp_server_options }}
{% endfor %}
disable monitor
